$body-text: rgba(0, 0, 0, .87);
$body-bg: #eee;
$weak: rgba(0, 0, 0, .54);
$border: rgba(0, 0, 0, .12);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, .2),
	0 1px 1px 0 rgba(0, 0, 0, .14),
	0 2px 1px -1px rgba(0, 0, 0, .12);

$primary: #1565C0;
$primary-highlight: #1E88E5;
$primary-compliment: white;

$body-font: Roboto, 'Helvetica Neue', sans-serif;
$default-text: 1.4rem;
$large-text: 1.6rem;
