html {
	// 1px = .1rem
	font-size: 10px;

	@media (min-width: 50em) {
		font-size: 11px;
	}
}

body {
	color: $body-text;
	background: $body-bg;
	font-family: $body-font;
	font-size: $default-text;
}

h1 {
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 32px;
}

h2 {
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: .005em;
}

a {
	color: $primary;
	text-decoration: none;
	transition: .1s;

	&:hover {
		color: $primary-highlight;
	}
}

.content-block {
	margin: 1em 0;
	background: white;
	box-shadow: $shadow;
}

.placeholder {
	color: $weak;
}
