.back-button {
	$back-button-size: 36px;

	position: relative;
	height: $back-button-size;
	line-height: $back-button-size;
	padding: 0 1em 0 .75em;
	margin-left: ($back-button-size / 2) + 10;
	background: $primary;
	color: $primary-compliment;
	text-transform: uppercase;
	border-radius: 0 3px 3px 0;
	transition: background .1s;

	&:hover {
		background: $primary-highlight;
		color: $primary-compliment;

		&::before {
			border-right-color: $primary-highlight;
		}
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 100%;
		border: ($back-button-size / 2) solid transparent;
		border-right-color: $primary;
		transition: border-right-color .1s;
	}
}