<div class="content-block detail">
	<a class="detail__back back-button" href="/">Back</a>

	<h1 class="detail__title"><a ng-href="{{ ::vm.photo.link }}" ng-bind="::vm.photo.title"></a></h1>

	<p class="detail__meta">
		<a ng-href="https://flickr.com/photos/{{ ::vm.photo.author_id }}/" ng-bind="::vm.photo.author"></a>
		<span class="detail__spacer">|</span>
		Published: <time datetime="{{ ::vm.photo.published }}" ng-bind="::vm.photo.published_formatted"></time>
	</p>

	<div class="detail__body">
		<div class="detail__image-wrapper">
			<img class="detail__image" ng-src="{{ ::vm.photo.media.m }}" alt="{{ ::vm.photo.title }}" />
		</div>

		<div class="detail__info">
			<div class="detail__description" ng-bind-html="::vm.photo.description"></div>
			<div class="detail__tags tags">
				<h2 class="tags__heading">Tags:</h2>
				<ul class="tags__list no-bullet inline">
					<li ng-repeat="tag in ::vm.photo.tags track by tag">
						<a ng-href="https://www.flickr.com/photos/tags/{{ ::tag }}/" ng-bind="::tag"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
